@import "tailwindcss";

#root {
    background-color: #eee;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}